@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto Mono', monospace;
}

a:link {
    text-decoration: none;
}

a {
    color: black;
}

/* ------------ Nav ------------ */

nav {
    height: 100px;
    padding: 0;
    margin: none;
}

nav h1 {
    display: inline-block;
    padding: 35px 25px 35px 65px;
    height: 100%;
}

nav ul {
    list-style: none;
    display: inline-block;
    height: 100%;
}

.main-link {
    display: inline-block;
    height: 100%;
    width: 127px;
    padding: 40px 25px 40px 25px;
    text-align: center;
    text-decoration: none;
    color: black;
    justify-content: flex-end;
    margin-bottom: -3px;
    border-top: 3px solid white;
}

nav ul li:hover {
    border-top: 3px solid #48a154;
}

.flex1 {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex2 {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.dropdown {
    display: none;
    position: absolute;
    background: #cae0cd;
    top: 100px;
    right: 254px;
    height: 82px;
    width: 127px;

}

.drop {
    text-decoration: none;
    color: black;
    list-style: none;
}

.dropdown ul li {
    height: 41px;
    width: 129px;
    padding: 9px;
    text-decoration: none;
    border: none;
    border-left: 2px solid #cae0cd;
    margin-left: -2px;
}

.dropdown ul li:hover {
    border-left: 2px solid black;
    border-top: none;
    background: #8bc893;
}


.drop:hover .dropdown {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;

}

.dropdown:hover {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
}

/* This may or may not take the main page's nav */

.main-nav ul {
    margin-left: 50px;
}

.main-nav .dropdown {
    display: block;
}

.main-nav ul li {
    border-top: none;
    width: 150px;
}

.main-nav .dropdown ul li {
    width: inherit;
    font-size: 15px;
    margin-left: -73px;
    border-left: none;
}

.main-nav ul li:hover {
    border-top: none;
    font-size: 20px;
    transition: 0.5s;
    margin-top: -3px;
    border-left: none;
    border-top: none;
}

.main-nav .dropdown li:hover {
    border-left: none;
    font-size: 17px;
    margin-top: -6px;
    margin-top: 0;
    background: transparent;
}

.main-nav ul li:hover .dropdown {
    font-size: 15px;
    font-size: 15px;
    background: transparent;
}

.main-nav .dropdown {
    right: inherit;
    display: none;
    margin-top: 10px;
}

.main-nav .drop:hover .dropdown {
    display: block;
}

/* ---------- Header ----------*/

.index-header {
    background-attachment: fixed;
    background-image: url("../images/tests/mountains.jpg");
    background-size: cover;
    background-position: bottom;
    height: 1000px;
    padding: 40px;


}

.for-button {
    display: flex;
    justify-content: flex-end;
}

.flex00 {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10%;
    margin-right: 5%;
    width: 400px;


}

.intro {
    margin-bottom: 99%;
    padding: 35px;
    width: 400px;
}

.scroll-button {
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-image: url(../images/down-arrow.png);
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: 50% 70%;
    margin: 0 175px;
}

.about-me-header {
    height: 300px;
    background-image: url("../images/tests/uh6.jpg");
    background-attachment: fixed;
}

.portfolio {
    height: 400px;
    background-image: url("../images/tests/montains-long2.jpg");
    background-size: cover;
    background-position: bottom;
}


/* ---------- Body --------- */

.intro-section {
    background-color: #cae0cd;
    height: 370px;
    padding: 150px 200px;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.wrap-me-honey {
    height: 70px;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.wrap-me-honey h3 {
    font-size: 20px;
}

.intro-section h3 {
    display: inline-block;
    width: 7.5%;
    height: 100%;
    padding: 20px 0;
}

.intro-section p {
    display: inline-block;
    width: 91.5%;
    height: 100%;
    border-left: 2px solid #48a154;
    padding-left: 12.8px;
    padding-top: 3px;
}


/* ---------- Footer ------- */

footer {
    height: 100px;
}

.fname {
    display: inline-block;
    height: 100%;
    padding: 37px 45px 37px 55px
}

footer ul {
    display: inline-block;
    height: 100%;
}

footer ul li {
    display: inline-block;
    height: 100%;
    padding: 38px 25px;
}

/* ----------- Resume ------- */

.flex3 {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.resume {
    background: #cae0cd;
    padding: 30px 50px 30px 50px;
}

.resume1 {
    width: 45%;
    border-right: 2px solid black;
}

.resume2 {
    width: 45%;
}

.resume1 h4,
.resume2 h4 {
    padding-left: 20px;
}

.resume1 h5,
.resume2 h5 {
    padding-left: 40px;
}

.resume1 p,
.resume2 p {
    margin: 30px 0px;
}

.resume1 .ugly {
    padding-left: 70px;
}

.resume1 ul,
.resume2 ul {
    padding-left: 60px;
}

.letters {
    height: 200px;
    padding: 30px 50px 30px 50px;
    background: #efefef;
}

/* -------- About Me --------- */

.about-me-txt {
    background-color: #cae0cd;
    height: 700px;
    padding: 100px 200px;
}

.about-me-txt p {
    padding: 10px 0px;
}


/* -------- Portfolio ---------*/

.port {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 100px 200px;
    background-color: #cae0cd;
    height: 500px;
}

.port p:first-child {
    width: 50%;
    height: 100%;
    padding: 90px 0;
}

.flex4 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 40%;
    padding: 0 40px;
}

.web,
.writing {
    background: white;
    width: 400px;
    height: ;
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.web {
    margin-bottom: 40px;
}

.writing {
    margin-top: 40px;
}

.web div,
.writing div {
    width: 75%;
    padding: 10px;
}

.web .read-more,
.writing .read-more {
    width: 25%;
    border-left: 2px solid black;
    padding: 40px 0 40px 8px
}

.web .read-more:hover,
.writing .read-more:hover {
    background: #8bc893;
    transition: 0.2s;
}

/* --------- Websites -------- */

.web-page {
    display: inline-block;
    width: 30%;
    padding: 200px 0 200px 150px;
    ;
}

.slide-show {
    display: inline-block;
    width: 60%;
    padding: 200px 150px 200px 0;
}

.web-page article {
    display: none;
}

.web-page article:first-child {
    display: inline-block;
}

.slide-show img {
    display: none;
    width: 90%;
}

.slide-show img:first-child {
    display: inline-block;
}

.flex5 {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #cae0cd;
}

form.boat {
    margin: 0 41.066%;
}

form.boat input {
    width: 30px;
}

/* --------- Writing -------- */

.write {
    background: #cae0cd;

}

.write section {
    width: 55%;
    padding: 100px;
}

.write section:first-child {
    width: 40%;
    display: inline-block;
    padding: 100px 150px 100px 100px;
    ;
}

/* --------- Contact -------- */

.contact {
    background-color: #cae0cd;
    padding: 100px 100px;
}

.contact ul {
    list-style: none;
}

.contact a {
    text-decoration: underline;
}

/* ---------- Footer -------- */

footer {}

@media screen and (max-width: 1024px) and (min-width: 481px) {
    /* ------ Index ------ */
    .main-nav {
        height: auto;
    }

    .main-nav .flex2 {
        flex-direction: column;
        justify-content: flex-start;
        height: 200px;
    }

    .main-nav h1 {
        width: 100%;
        display: block;
        padding: 0;
        margin: 0;
        margin-top: 20px;
        height: 70px;
        text-align: center;
    }

    .main-nav ul.flex2 {
        height: 100px;
        width: 100%;
        padding: 0 50px;
    }

    .main-nav .drop:hover .dropdown {
        display: none;
    }

    .index-header {
        height: 641px;
        background-position: 0;
    }

    .main-intro {
        margin: 60px 100px 0 440px;
        margin-top: 60px;
    }

    .for-button {
        display: none;
    }

    .intro-section {
        padding: 100px 200px;
        height: 333px;
    }

    .intro-section h3 {
        height: 40px;
        width: 20px;
        margin: 0;
        padding: 2px 0 0 0;
    }

    .intro-section p {
        height: 133px;
        width: 95%;
    }

    /* ---- Portfolio -- */
    .port {
        padding: 50px 100px;
    }

    .port .flex4 {
        margin: 0;
        padding: 0;
        width: 300px;
        height: 100%;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    /* 240px */
    .web,
    .writing {
        width: 300px;
        height: 150px;
        flex-direction: column;
        margin: 10px 0;
    }

    .web div {
        width: 100%;
        height: 100px;
    }

    .web div.read-more {
        height: 50px;
        width: 100%;
        border-left: none;
        border-top: 2px solid black;
        text-align: center;
        padding: 11px 0;
    }

    .writing div {
        width: 100%;
        height: 100px;
    }

    .writing div.read-more {
        height: 50px;
        width: 100%;
        border-left: none;
        border-top: 2px solid black;
        text-align: center;
        padding: 11px 0;
    }

    /* -- About Me -- */
    .about-me-txt {
        height: 1266px;
    }

    /* ----- Footer ---- */
    footer {
        height: 100px;
    }

    footer ul li {
        height: 100px;
    }
}

@media screen and (max-width: 480px) {

    /* ------- Index ------- */
    .main-nav ul {
        margin: 0;
        width: 100%;
    }

    .main-nav .main-link {
        width: 50%;

    }

    .main-nav h1 {
        padding: 0;
        width: 100%;
        text-align: center;
    }

    .main-intro {
        display: none;
    }

    .index-header {
        height: 300px;
        background-position: 1% 99%;
    }

    .main-nav .drop:hover .dropdown {
        display: none;
    }

    .main-nav ul li:hover {
        font-size: 16px;
    }

    .flex00 {
        display: none;
    }

    .intro-section {
        padding: 50px;
        height: 370px;
    }

    .intro-section h3 {
        margin: 0;
        padding-top: 10px;
        height: 150xp;
    }

    .intro-section p {
        height: 150px;
        padding-top: 0;
    }

    /* --------- Nav -------- */
    .main-link {
        height: 70px;
        border-top: none;
        padding: 20px 15px;
    }

    nav ul li:hover {
        border-top: none;
        font-size: 17px;
        transition: 0.5s;
        margin-top: -1px;
    }

    nav.flex1 {
        flex-direction: column;
        justify-content: flex-start;
    }

    nav {
        height: 240px;
    }

    nav h1 {
        height: 100px;
        padding-left: 35px;
    }

    nav ul.flex2 {
        justify-content: flex-start;
        padding: 0;
        margin: 0 auto;
        width: 254px;
    }

    nav ul {
        height: 100px;
        padding: 0 30px;
    }

    nav ul li {
        height: 100px;
        text-align: center;

    }



    .drop:hover .dropdown {
        display: none;
    }

    /*---------- About Me ------*/
    .about-me-txt {
        padding: 35px;
        height: 2350px
    }

    .about-me-txt p {
        padding: 10px;
        ;
    }

    /* --------- Portfolio ---- */
    .portfolio {
        padding: 0;
    }

    .port {
        padding: 0;
        flex-direction: column;
        height: 730px;
        justify-content: flex-start;
    }

    .port p:first-child {
        width: 100%;
        height: 345px;
        padding: 30px;
    }

    .port .flex4 {
        width: 100%;
        padding: 0;
        display: block;
    }

    .port .flex4 div.web,
    .port .flex4 div.writing {
        width: 300px;
        margin: 0 auto;
        margin-bottom: 40px;
    }

    .port .flex4 div.read-more,
    .port .flex4 div.reas-more {
        text-align: center;
        padding-right: 10px;
    }

    /* --------- Websites ------*/
    .flex5 {
        flex-direction: column;
        justify-content: space-between;
        height: 600px
    }

    .web-page {
        padding: 30px;
        width: 100%;
    }

    .slide-show {
        width: 100%;
        padding: 10px;
        ;
    }

    .slide-show img {
        width: 100%;
    }

    /* -------- Writing ------- */
    .write {
        height: 900px;
    }

    .write section:first-child {
        width: 100%;
        display: inline-block;
        padding: 30px;
    }

    .write section:nth-child(2) {
        padding: 30px;
        width: 100%;
    }

    .write section article p {
        display: none;
    }

    .write section article p:first-child {
        display: block;
    }

    form {
        width: 60px;
        margin: 0 auto;
    }

    /* --- Contact Me --- */
    .contact {
        padding: 30px;
    }

    /* --- Resume --- */
    .resume .flex3 {
        align-items: none;
        display: inline-block;
        flex-direction: none;
        flex-wrap: none;
        justify-content: none;
    }

    .resume1,
    .resume2 {
        margin: 0;
        padding: 0;
        width: 100%;
        border: none;
    }

    /* --------- Footer --------*/
    .fname {
        /*
        width: 100%;
        height: 74px;
        font-size: 15px;
        text-align: center;
        border-bottom: solid 1px;
*/
        display: none;
    }

    footer .flex1 {
        flex-direction: row-reverse;
    }

    footer .flex2 {
        height: 200px;
        padding: 0 30px 0 50px;
    }


    footer .flex2 li {
        height: 100px;
        width: 130px;
        text-align: center;
        padding: 38px 20px;
    }

    footer .flex2 li:hover {
        font-size: 17px;
        transition: 0.5s;
        margin-top: -1px;
    }
}
